
h1{
  font-size: 60px;
  font-family: Georgia, serif;
  margin: 0;
}

h2{
  margin: 0;
}

h3{
  margin: 0;
}

body {
  font-family: Georgia, serif;
  margin: 0;
  line-height: 1.6;
  background-image: url("images/A+L_background.png");
  /* UNDECIDED IF WE WANT BACKGROUND TO BE STILL*/
  /* background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed; */
  /* UNDECIDED IF WE WANT BACKGROUND TO MOVE WITH SCROLL*/
  background-repeat: repeat;
  background-size: 100% auto;
  background-position: top;
}

/* each section fills screen nicely*/
section {
  padding: 80px 20px;
  text-align: center;
}

/* title section */
.home {
  min-height: 100vh; /* full screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  align-items: center;
}

/* schedule styling */
.schedule ul {
  background: #9e1264;
  list-style: none;
  padding: 10px 20px;
  border-radius: 12px;
}

.navigation {
  background: #9e1264;
  padding: 10px 20px;
  border-radius: 12px;
}

button {
  padding: 10px 20px;
  border: none;
  background: rgb(185, 21, 120);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #333;
}

/* ===========================
        MOBILE MENU
=========================== */

header{
    position:fixed;
    top:20px;
    right:20px;
    z-index:1002;
}

/* ---------- BUTTON ---------- */
.menu-button{
    width:50px;
    height:50px;
    border:none;
    border-radius:15px;
    background:rgba(255,255,255,.9);
    box-shadow:0 8px 25px rgba(0,0,0,.15);
    cursor:pointer;
    position:relative;
}

/* both icons sit in exactly the same place */
.menu-button span{
    position:absolute;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
    color:#9e1264;
    transition:.25s;
}

/* only show the hamburger initially */
.close{
    opacity:0;
}

/* when menu is open */
.menu-button.open .hamburger{
    opacity:0;
}

.menu-button.open .close{
    opacity:1;
}

/* ---------- MENU ---------- */

.mobile-menu{
    position:fixed;
    top:0;
    right:-320px;
    width:280px;
    max-width:80vw;
    height:100vh;
    background:rgba(255,255,255,.96);
    backdrop-filter:blur(10px);
    border-radius:25px 0 0 25px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:35px;
    transition:right .35s ease;
    z-index:1001;
}
.mobile-menu.open{
    right:0;
}
.mobile-menu a{
    text-decoration:none;
    color:#9e1264;
    font-size:2rem;
    text-align:center;
}
.mobile-menu a:hover{
    color:black;
}

/* ---------- BACKGROUND ---------- */

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.35);
    opacity:0;
    pointer-events:none;
    transition:.35s;
    z-index:1000;
}

.overlay.show{
    opacity:1;
    pointer-events:auto;
}